@use '/src/assets/variables.scss'as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.pictureWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    aspect-ratio: 1 / 1;

    &__picture {
        width: 100%;
    }
}

.controlsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.questionWrapper {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    &__question {
        font-size: 1.9rem;
    }
}

.answersWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.8rem;

    &__answer {
        position: relative;
        padding: 0.8rem 1.6rem;
        border: 1px solid #757575;
        border-radius: 2px;
        background-color: transparent;
        color: $text-color;
        font-size: 1.6rem;
        text-align: center;

        &::before:not([data-answer]) {
            content: '';
            position: absolute;
            inset: 0;
            box-shadow: 0 0 8px inset rgba(70, 70, 70, 0.4);
            opacity: 0;
            transition: opacity .2s;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}

[data-correct='true'] {
    background-color: $success-light;
    border-color: $success-dark;
}

[data-correct='false'] {
    background-color: $error-extra-light;
    border-color: $error;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: .8rem;
}

@media (min-width: 510px) {
    .buttonsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .wrapper {
        flex-direction: row;
        gap: 2.4rem;
    }

    .pictureWrapper {
        max-width: 320px;
    }

    .controlsWrapper {
        justify-content: center;
        gap: 4rem;
    }

    .questionWrapper {
        gap: 1.6rem;
    }

    .buttonsWrapper {
        gap: 2.4rem;
    }
}

@media (min-width: 1400px) {
    .controlsWrapper {
        gap: 4.8rem;
    }

    .questionWrapper {
        &__question {
            font-size: 2.4rem;
        }
    }

    .answersWrapper {
        gap: 1.6rem;

        &__answer {
            font-size: 2rem;
        }
    }
}