@use '/src/assets/variables.scss'as *;

.wrapper {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.backButton {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: .8rem;
    border-radius: 8px;
    background-color: $info;
    font-size: 1.8rem;
    transition: background-color .3s;

    &__text {
        display: none;
    }

    &:hover {
        background-color: $info-light;
    }
}

.title {
    font-size: 1.9rem;
    font-weight: bold;
}

@media (min-width: 900px) {
    .backButton {
        padding-left: 2.4rem;
        padding-right: 2.4rem;

        &__text {
            display: inline;
        }
    }
}

@media (min-width: 1400px) {
    .wrapper {
        gap: 2.4rem;
        margin-bottom: 3.2rem;
    }

    .backButton {
        padding: 1.6rem 3.2rem;

        &__text {
            line-height: normal;
            font-size: 2rem;
        }
    }

    .title {
        font-size: 2.4rem;
    }

    .description {
        font-size: 2rem;
    }
}