.wrapper {
    position: relative;
    z-index: 0;
    padding: 1.6rem;
    border-radius: 8px;
    width: 100%;
    max-width: 540px;
    color: #000;
    background-color: rgba(0, 0, 0, .1);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .35);
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgba(118, 123, 233, .35);
        opacity: 0;
        transition: opacity .3s;
    }

    &:hover::after {
        opacity: 1;
    }
}

.title {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 1400px) {
    .wrapper {
        padding: 2.4rem;
        max-width: 620px;
    }

    .title {
        font-size: 2.4rem;
    }

    .description {
        font-size: 2rem;
    }
}