@use '/src/assets/variables.scss'as *;

.previousQuestionButton,
.nextQuestionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 50rem;
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: normal;

    img {
        transition: translate .2s;
    }

    &:disabled {
        opacity: .5;
    }
}

.previousQuestionButton {
    background-color: #EFEFEF;

    &:hover {
        img {
            translate: -1rem;
        }

        &:disabled {
            img {
                translate: 0;
            }
        }
    }
}

.nextQuestionButton {
    background-color: $success-dark;

    &:hover:not([disabled]) {
        img {
            translate: 1rem;
        }
    }
}